<div class="col-md-12 table-responsive">
    <% if (typeof errorMessage !== "undefined") { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= errorMessage %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <% if (typeof successMessage !== "undefined") { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= successMessage %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < posts.length; i++) { %>
            <tr>
               <td><%= posts[i]['id'] %></td>
               <td><%= posts[i]['title'] %></td>
               <td><%= posts[i]['description'] %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>